.mainBox {
    min-height: 100vh;
    background-color: #FFDEE9;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.greeting {
display: flex;
    flex-direction: column;
}

.photo {
    height: 400px;
    width: 300px;


}
.photo img {

    width: 300px;
    object-fit: contain;
}

.myName {

    /*font-family: Yandex-UI-Icons-Private;*/
}