.projectsBox {
    min-height: 100vh;
    background-color: #F1E2FF;
    display: flex;
    justify-content: center;
}

.container {

    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

}

.projects {
    margin-top: 50px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
@media screen and (max-width: 754px) {
    .projects {
        justify-content: center;
        flex-direction: column;

        align-items: center;
    }
}
